@import "settings";

// Foundation
@import "normalize";
@import "foundation";
// @import "susy/sass/susy";

// Inuit
// @import "inuit-defaults/settings.defaults";
// @import "inuit-mixins/tools.mixins";
// @import "inuit-headings/base.headings";

// custom module imports here
// @import "modules/myModule";
// @import "grid";


// $susy: (
//   columns: 12,
//   gutters: .25,
//   math: fluid,
// );

// .row {
//   @include container(80em);
// }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  padding-top: 50px;

  // fixed top border style
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: $blue-light;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    z-index: 100;
  }
}



h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  color: rgb(137,138,140);
  line-height: 1.4;

  & > small {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 45%;
    white-space: nowrap;
  }
}

h1 {
  font-weight: 600;
}

.lead {
  font-size: $h3-font-size;
  line-height: 1.5;
  margin-top: 1em;
  text-align: center;
}


.l-mb {
  margin-bottom: 1em;
}
.l-mb2 {
  margin-bottom: 2em;
}
.l-mb3 {
  margin-bottom: 3em;
}
.l-mb4 {
  margin-bottom: 4em;
}



.fixie {
  @media #{$medium} {
    width: 25%;
    padding-right: 1.875rem;
    position: fixed;
    max-width: 220px;
  }
  @media #{$large} {
    padding-right: 0;
  }
}

// branding
.logo {
  margin: 0;
}

.tagline {
  border: solid lighten($light-gray, 20%);
  border-width: 1px 0;
  margin: 1.5em 0 1em;
  padding: 0.5em 0;
  font-size: 12px;
  text-align: center;

  abbr {
    border: 0;
  }
}

.caption {
  font-size: 14px;
  color: $light-gray;
  margin-top: -1em;
}


// quote module
.quote {
  background: $blue-light;
  border-top: 1px solid darken($blue-light, 10%);
}

.quote-text {
  padding: 2em 1em;
  font-size: $big/1.5;
  color: #fff;
}


img.thumb,
.prose img {
  padding: 4px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
}

footer p {
  font-size: rem-calc(12);
  color: #999;
}
