<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="custom awards, edmonton, alberta">
  <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.assetpath }}css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <script src="{{ site.baseurl }}/{{ site.assetpath }}js/modernizr.js"></script>

</head>
<body>

  <div class="row">
    <div class="column medium-3">
      <div class="fixie">
        <header class="branding">
          <h1 class="logo"><a href="/"><img src="{{ site.baseurl }}/{{ site.assetpath }}img/logo-bitdg.svg" alt="{{ site.name }}"></a></h1>
          <p class="tagline">A Hot Glass Studio in Edmonton, <abbr title="Alberta">AB</abbr></p>
        </header>
        <nav>
          <ul class="nav">
            <li{% if page.url == '/awards/' %} class="active"{% endif %}><a href="/awards/">Awards</a></li>
            <li{% if page.url == '/classes/' %} class="active"{% endif %}><a href="/classes/">Classes</a></li>
            <li{% if page.url == '/studio/' %} class="active"{% endif %}><a href="/studio/">Studio</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="column medium-9">
      {% if page.banner %}
        {% comment %}
          Pretty hacky here. Allows for the remote banner images (from Flickr or something...)
        {% endcomment %}
        {% capture is_remote %}{{ page.banner | split: 'http' | size }}{% endcapture %}
        {% if is_remote == '2' %}
          <img class="thumb" src="{{ page.banner }}" alt="">
        {% else %}
          <img class="thumb" src="{{ site.baseurl }}/{{ site.assetpath }}{{ page.banner }}" alt="">
        {% endif %}
      {% endif %}

      {% if page.url == '/index.html' %}
        <p class="lead">{{ page.subhead }}</p>
      {% else %}
        <h1>{{ page.title }}</h1>
        {% if page.subhead %}<h2 class="subheader">{{ page.subhead }}</h2>{% endif %}
      {% endif %}

      <div class="prose">{{ content }}</div>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="column">
        <hr>
        <p>Handcrafted glassworks by local artist Keith Walker, in Edmonton, Alberta, Canada. Copyright &copy; {{ site.time | date: "%Y" }}.</p>
      </div>
    </div>
  </footer>

  <script src="{{ site.baseurl }}/{{ site.assetpath }}js/script.js"></script>

</body>
</html>
