<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="custom glass awards, glass blowing classes, glass sculptures, edmonton, alberta, canada">
  <link rel="stylesheet" href="{{ site.assetpath }}css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <script src="{{ site.assetpath }}js/modernizr.js"></script>

  <!-- MailChimp styles -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    #mc_embed_signup form {
      padding-left: 0;
    }
    #mc_embed_signup .mc-field-group {
      padding-bottom: 0;
    }
  </style>

</head>
<body>

  <div class="row">
    <div class="column medium-3">
      <div class="fixie">
        <header class="branding">
          <h1 class="logo"><a href="/"><img src="{{ site.assetpath }}img/logo-bitdg.svg" alt="{{ site.name }}"></a></h1>
          <p class="tagline">A Hot Glass Studio in Edmonton, <abbr title="Alberta">AB</abbr></p>
        </header>
        <nav>
          <ul class="nav">
            <li{% if page.url == '/awards/' %} class="active"{% endif %}><a href="/awards/">Awards</a></li>
            <li{% if page.url == '/classes/' %} class="active"{% endif %}><a href="/classes/">Classes</a></li>
            <li{% if page.url == '/studio/' %} class="active"{% endif %}><a href="/studio/">Studio</a></li>
            <li{% if page.url == '/keiths-cups/' %} class="active"{% endif %}><a href="/keiths-cups/">Keith's Cups</a></li>
            <li{% if page.url == '/unity-glass/' %} class="active"{% endif %}><a href="/unity-glass/">Unity Glass</a></li>
            <li{% if page.url == '/memorial-glass/' %} class="active"{% endif %}><a href="/memorial-glass/">Memorial Glass</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="column medium-9">
      {% if page.banner %}
        {% comment %}
          Pretty hacky here. Allows for the remote banner images (from Flickr or something...)
        {% endcomment %}
        {% capture is_remote %}{{ page.banner | split: 'http' | size }}{% endcapture %}
        {% if is_remote == '2' %}
          <img class="thumb" src="{{ page.banner }}" alt="">
        {% else %}
          <img class="thumb" src="{{ site.assetpath }}{{ page.banner }}" alt="">
        {% endif %}
      {% endif %}

      {% if page.url == '/index.html' %}
        <p class="lead">{{ page.subhead }}</p>
      {% else %}
        <h1>{{ page.title }}</h1>
        {% if page.subhead %}<h2 class="subheader">{{ page.subhead }}</h2>{% endif %}
      {% endif %}

      <div class="prose">{{ content }}</div>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="column">
        <hr>
        <p>Handcrafted glassworks by local artist Keith Walker, in Edmonton, Alberta, Canada. Copyright &copy; {{ site.time | date: "%Y" }}.</p>
      </div>
    </div>
  </footer>

  <script src="{{ site.assetpath }}js/script.js"></script>
  <!-- Please call pinit.js only once per page -->
  <script type="text/javascript" async  data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>

</body>
</html>
