
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Blow in the Dark Glassworks</title>
  <meta name="description" content="Blow in the Dark Glassworks designs and creates one of a kind, hand blown glass sculptures in Edmonton Alberta.">
  <meta name="keywords" content="custom awards, edmonton, alberta">
  <link rel="stylesheet" href="/assets/dist/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>

  <script src="/assets/components/modernizr/modernizr.js"></script>

</head>
<body>

  <!-- <header class="branding">
    <div class="row">
      <div class="column">
        <h1 class="logo"><a href="/"><img src="{{ site.assetpath }}img/logo-bitdg.svg" alt="Blow in the Dark Glassworks"></a></h1>
      </div>
    </div>
  </header> -->
  <div class="row">
    <div class="column medium-3">
      <div class="fixie">
        <header class="branding">
          <h1 class="logo"><a href="/"><img src="{{ site.assetpath }}img/logo-bitdg.svg" alt="Blow in the Dark Glassworks"></a></h1>
          <p>An Edmonton, Alberta Hot Glass Studio</p>
          {% comment %}<p>Hand crafted glass sculptures</p>{% endcomment %}
        </header>
        <nav>
          <ul class="side-nav">
            <li{% if page.url == '/awards/' %} class="active"{% endif %}><a href="/awards/">Awards</a></li>
            <li{% if page.url == '/classes/' %} class="active"{% endif %}><a href="/classes/">Classes</a></li>
            <li{% if page.url == '/studio/' %} class="active"{% endif %}><a href="/studio/">Studio</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="column medium-9">
      {% if page.banner %}<img src="{{ page.banner }}" alt="">{% endif %}
      <h1>{{ page.title }}</h1>
      {% if page.subhead %}<h2>{{ page.subhead }}</h2>{% endif %}
      {{ content }}
    </div>
  </div>


  <footer>
    <div class="row">
      <div class="column">
        <hr>
        <p>Handcrafted by local glass artist Keith Walker, in Edmonton Alberta Canada.</p>
      </div>
    </div>
  </footer>

  <script src="/assets/dist/js/script.js"></script>

</body>
</html>
